@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  color: #0E2C32;
  font-family: 'Poppins', sans-serif;
}

.logo {
  height: 2rem;
}

.logo-footer {
  height: 1.75rem;
}

.merchant-logo{
  width: 100px;
  height: 80px;
  object-fit: cover;
}

.footer-logos{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-logos img {
  width: auto;
  padding: .35rem;
  height: 2.25rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.15rem;
  object-fit: contain;
}